// Esquema de colores

// Primer esquemas
$white: #FFF;
$platinum: #E6E7E7;
$gray: #D1D1D1;

// Segundo esquema de colores
$fuzz-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Tercer esquema de colores
$eerie-black: #121619;
$raisin-black: #222323;
$niquel: #6C6E70;

// Tipografia
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Peso de fuentes
$light: 300;
$regular: 400;
$black: 900;

// Tamaños de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
